---
---

@import "{{ site.theme }}";

body {
 background-color: #193D0A;
 color: #DEE2DD;
 font-family: "Lucida Console", "Courier New", monospace;
}

img {
 border-radius: 50%;
 max-width: 90%;
}

h1, h2, h3, h4, h5, h6 {
  color:#FEFEFE;
  margin:0 0 20px;
}

header {
  width:150px;
}

section {
 width:700px;
}

strong {
 color:#FEFEFE;
}
