---
---

@import "{{ site.theme }}";

body {
 background-color: #193D0A;
 color: #DEE2DD;
 font-family: "Lucida Console", "Courier New", monospace;
}

img {
 border-width:50%;
 max-width:90%;
}

h1, h2, h3, h4, h5, h6 {
  color:#FEFEFE;
  margin:0 0 20px;
}

header {
  width:200px;
}

section {
 width:800px;
}

strong {
 color:#FEFEFE;
}

a {
 color:#9E8075
}
